@font-face {
    font-family: minionPro;
    src: url(minionPro.ttf);
}

body {
    height: 100vh;
    font-family: minionPro;
    padding: 0;
    margin: 0;
    background: #392119;
    box-sizing: border-box; /* Ensure padding and borders are included in width/height */
}

* {
    box-sizing: inherit; /* Inherit box-sizing from body */
}

.title {
    font-size: 50px;
    color: #daa520;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    margin: 0;
    padding: 10px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 800px; /* Maximum width of the grid */
    margin: 0 auto; /* Center the grid */
    gap: 10px; /* Space between grid items */
    padding: 0 10px; /* Optional: Add padding to prevent items from touching the edges */
}

.card-grid img {
    width: 100%;
    height: auto;
    filter: drop-shadow(1px 1px 2px #262626);
    transition: transform 0.2s;
}

.card-grid img.removed {
    display: hidden;
}

.card-grid img:hover {
    transform: scale(1.05);
}

/* Styles for the overlay and enlarged image */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
}

.overlay img {
    max-width: 90%;
    max-height: 90%;
}

.removeCard {
    position: absolute;
    right: 30px;
    padding: 5px;
    background-color: #D1341F;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
}

#nonSupplyCardGrid {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}